<div class="modal  position-static d-block  " tabindex="-1" role="dialog">
  <div class="modal-content rounded-4 shadow">
    <div class="modal-header p-5 pb-4 border-bottom-0">
      <h5 class="fw-bold mb-0 fs-2">Create Author</h5>
      <button type="button" (click)="closeModal()" class="btn-close" data-bs-dismiss="modal"
        aria-label="Close"></button>
    </div>
    <form (ngSubmit)="createAuthor()" [formGroup]="authorCreateForm">
      <div class="modal-body p-5 pt-0">
        <div class="mb-3">
          <label for="firstName">First Name</label>
          <input id="firstName" class="form-control form-control-sm" formControlName="firstName" required
            [ngClass]="this.authorCreateForm.get('firstName')?.errors?'is-invalid':'is-valid'" />
          <div class="invalid-feedback">
            First Name is required.
          </div>
        </div>
        <div class="mb-3">
          <label for="lastName">Last Name</label>
          <input id="lastName" class="form-control form-control-sm" formControlName="lastName" required
            [ngClass]="this.authorCreateForm.get('lastName')?.errors?'is-invalid':'is-valid'" />
          <div class="invalid-feedback">
            Last Name is required.
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button class=" py-2 btn btn-success btn-sm rounded-3" type="submit">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-person-plus-fill" viewBox="0 0 16 16">
            <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
            <path fill-rule="evenodd"
              d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5" />
          </svg>
          <i class="bi bi-person-plus-fill"></i>
          Create
        </button>
      </div>
    </form>
  </div>
</div>